.dark {
  --appBackground: #232121;

  // Header --------------------------------------
  --hIconsColor: #898989;
  --hTitleColor: var(--hIconsColor);
  // ---------------------------------------------

  // Main ----------------------------------------
  --mFontColor: white;

  // Main > Output
  --mOutPreviousFontColor: var(--hIconsColor);
  --mOutCurrentFontColor: var(--mFontColor);
  --mOutBackground: #322E2E;

  // Main > Grid > AC and percent ----------------
  --mAcAndPercentColor: #847A7A;
  --mAcAndPercentFontColor: var(--mFontColor);
  // ---------------------------------------------
  // Main > Grid > Operators ---------------------
  --mOperatorColor: #DA9105;
  --mOperatorFontColor: var(--mFontColor);
  // ---------------------------------------------
  // Main > Grid > Numbers -----------------------
  --mNumberColor: #4F4949;
  --mNumberFontColor: var(--mFontColor);
  // ---------------------------------------------

  // Footer --------------------------------------
  --fBackground: #0F0E0E;
  --fFontColor: #898989;
  // Footer > Icons
  --fIconColor: var(--fFontColor);
  --fIconHoverBackground: #282727;
  --fIconHoverColor: --fIconColor;
  // ---------------------------------------------
}
