.dark {
  --appBackground: #232121;

  // Header
  --hIconsColor: #898989;
  // Header > Close icon : hover
  --hIconCloseFontColor: white;
  --hIconCloseBackground: red;


  // Footer
  --fBackground: #0F0E0E;
}
