header.appHeader {
  width: 100%;
  height: var(--headerHeight);
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-app-region: drag;

  .title {
    color: var(--hTitleColor);
    padding: 0 10px;
    font-family: 'Raleway', serif;
    font-weight: bold;
    font-size: 14px;
    user-select: none;
  }

  .buttonGrid {
    padding: 10px;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 12px 12px;
    -webkit-app-region: no-drag;
    align-items: center;

    svg {
      cursor: pointer;

      path, rect {
        fill: var(--hIconsColor);
      }
    }
  }
}
