header.appHeader {
  width: 100%;
  height: var(--headerHeight);
  display: flex;
  align-items: center;
  justify-content: right;
  -webkit-app-region: drag;

  .buttonGrid {
    padding: 10px;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 12px 12px;
    -webkit-app-region: no-drag;
    align-items: center;

    svg {
      cursor: pointer;
    }
  }
}
