@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Raleway/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/Raleway/Raleway-Bold.ttf");
}

* {
  $themeTransitionTiming: .1s ease;
  transition: color $themeTransitionTiming,
  background-color $themeTransitionTiming;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.layout {
  --headerHeight: 25px;
  --footerHeight: 20px;

  --numberOutputWidth: 68px;

  background: var(--appBackground);
  width: 100vw;
  height: 100vh;

  main {
    width: 100%;
    height: calc(100vh - var(--footerHeight) - var(--headerHeight));
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
